@font-face {
    font-family: "BrownFont";
    src: url(./fonts/BrownStd-Bold\ \(1\).ttf);
}

@font-face {
    font-family: "SofiaFont";
    src: url(./fonts/Sofia\ Pro\ Regular\ \(1\).otf);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}



section {
    background: hsl(170, 60%, 98%);
    width: 100%;
    height: 10%;
    flex-shrink: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem;
}


.logo img {
    width: 4.833rem;
    height: 5rem;
    margin-top: 9rem;
    margin-bottom: 2rem;

}

.header {
    margin-bottom: 1.25rem;
    width: 16.75rem;
    height: 3.125rem;
    color: var(--cl-black, #000B0A);
    font-family: "BrownFont", "Brown";
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3.125rem;
    letter-spacing: -0.05rem;
}

.para {
    display: block;

    margin-top: 1.2rem;
    color: var(--cl-grey, #737373);
    font-size: 1rem;
    font-family: "BrownFont", "Brown";
    font-weight: 400;
    line-height: 1.5625rem;
    margin-right: 7rem;
    font-style: normal;
}

.mobile-para {
    display: none;
}

aside {
    background: #FFF;
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
    border-radius: 0.375rem;
    width: 100%;
    width: 36.25rem;
    height: 45.4375rem;
    margin-top: 5.06rem;
    margin-bottom: 5rem;

    >.form-page {
        margin: 2.5rem 2.5rem;
    }



    label {
        color: var(--text-headings, #011C34);
        font-family: "SofiaFont", "Sofia pro";
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.00625rem;
        margin-top: 1.88rem;

    }

}

.first-div,
.second-div,
.third-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.third-div {
    margin-top: -1.88rem;
}

.first,
.last,
.gender,
.date-of-birth,
.Height,
.Weight {
    display: flex;
    flex-direction: column;

}

.gender select:focus {
    border-color: var(--cl-green, #2EC4B6);
    outline: none;
}

.activity-level {
    margin-top: 1.88rem;
}

select {
    margin-top: 1rem;
    margin-right: 5px;


}



select:focus {
    border-color: var(--cl-green, #2EC4B6);
    outline: none;
}

.icon-div input {
    width: 100%;
}

.icon {
    position: absolute;
    padding-top: 1.5rem;
    margin-left: -2.5rem;
}



/**********************************input************************************ */
input,
.Gen {

    width: 14.875rem;

    height: 3rem;
    margin-top: 0.62rem;
    color: var(--text-headings, #011C34);
    border: 1px solid var(--cl-gray-3, #F0F0F0);
    border-radius: 0.125rem;
    font-family: "SofiaFont", " Sofia pro";
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
    letter-spacing: 0.0125;
    padding-left: 1rem;
    padding-right: 1rem;
}


input:focus {
    border-color: var(--cl-green, #2EC4B6);
    outline: none;
}

.Level:focus {
    border-color: var(--cl-green, #2EC4B6);
    outline: none;
}



.password label {
    padding-top: 1rem;
}


select {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.88rem;
    color: var(--text-headings, #011C34);
    border: 1px solid var(--cl-gray-3, #F0F0F0);
    border-radius: 0.125rem;
    font-family: "SofiaFont", " Sofia pro";
    font-style: normal;
    font-weight: 300;
    line-height: 1.25rem;
    letter-spacing: 0.0125;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1.88rem;
}

.password input {
    width: 100%;
}




/* ***********REGISTER BOTTOM****** */

.btn {
    background: var(--cl-green, #2EC4B6);
  
    border: none;
    width: 100%;
    cursor: pointer;
    height: 3rem;
    margin-top: 1.88rem;
    margin-bottom: 1rem;
    color: var(--basic-100, #FFF);
    font-family: "SofiaFont", "Sofia Pro";
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0125rem;
    margin-bottom: 2rem;

    &:hover {
        transform: scale(1.1);
    }
}

/* ***********  BOTTOMS CONTENT */
.instruction {
    text-align: center;
    color: #000;
    font-family: "SofiaFont", "Sofia Pro";
    font-size: 0.875rem;
    font-size: normal;
    font-weight: 400;
    line-height: 1.5625rem;



    >:nth-child(1n) {
        color: var(--cl-green, #0decd6);
        font-weight: 500;
        line-height: 1.5625rem;
        text-decoration: underline;
    }
}




/* ****************************RESPONSIVENESS MEDIA QUERY***** */

@media  (max-width:767px) {

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        background: hsl(170, 60%, 98%);
        margin: 0 1rem;
    }

    .para {
        display: none;

    }

    .mobile-para {
        display: block;
        color: var(--cl-grey, #737373);
        font-family: "BrownFont", "Brown";
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 1.5625rem;
        margin-top: 3rem;
    }
    .first-div,
    .second-div,
    .third-div {
        display: flex;
        flex-direction: column;
    }

    input,
    .Gen {
        width: 100%;
        height: 3rem;
        margin-top: 0.62rem;
        color: var(--text-headings, #011C34);
        border: 1px solid var(--cl-gray-3, #F0F0F0);
        border-radius: 0.125rem;
        font-family: "SofiaFont", " Sofia pro";
        font-style: normal;
        font-weight: 300;
        line-height: 1.25rem;
        letter-spacing: 0.0125;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    aside {
        background: #FFF;
        box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.10);
        border-radius: 0.375rem;
        height: 57rem;
        width: 100%;
        margin-top: 2.06rem;
        margin-bottom: 5rem;

        >.form-page {
            margin: 2.5rem 2.5rem;
        }
    }

    .form-page {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .first,
    .last,
    .gender,
    .Weight,
    .Height {
        margin-top: 1.5rem;
    }

    .header {
        color: var(--cl-black, #000B0A);
        font-family: "BrownFont", "Brown";
        font-size: 1.875rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.05rem;
        margin-bottom: -3rem;

    }

    .date-of-birth {
        margin-top: -2rem;
        margin-bottom: 1.5rem;
    }

    .date-of-birth label {
        margin-top: 1.5rem;
    }
    input[type="date"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 100%;
        color: var(--text-headings, #011C34);
        border: 1px solid var(--cl-gray-3, #F0F0F0);
        border-radius: 0.125rem;
        font-family: "SofiaFont", " Sofia pro";
        font-style: normal;
        
    }
}